.brand-list .brand-item {
  padding: 10px 18px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.brand-list .brand-item:hover {
  border-color: #e11d48;
  color: #e11d48;
  font-weight: 600;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* đổi icon từ trắng sang đen ngược lại */
}
